* {
    -inspace-base-border-color: rgb(4, 23, 40, 0.9);
    -fx-backgroundColor-base: rgb(11, 66, 116, 0.7);
}

.baseScene {
    /*-fx-backgroundColor-base: rgba(160,160,160,0.8);*/
    -fx-background-radius: 6px;
    -fx-background-color: rgb(11, 66, 116, 0.7);
    -fx-border-color: -inspace-base-border-color;
    -fx-border-width: 2px;
}

/*Flat button example */
.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: #007383;
    -fx-text-fill: black;
}

/*Raised button example */
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #004162;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.jfx-combo-box {
    -jfx-focus-color: white;
}
.jfx-combo-box .cell {
    -fx-text-fill: white;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: -inspace-base-border-color;

}

.jfx-text-field {
    -jfx-focus-color: white;
    -fx-text-fill: white;
}

.map-cords {
    -fx-text-fill: black;
    -fx-background-color: rgb(255, 255, 255, 0.7);
}

.jfx-text-area {
    -fx-background-color: -fx-backgroundColor-base;
    -fx-text-fill: white;
}